body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #d91e18; /* Vermelho McDonald's */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    color: #333;
}

input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select{
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

button {
    background-color: #f39c12; /* Amarelo McDonald's */
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #d68910; /* Amarelo escuro McDonald's */
}

h2 {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

button#btnPesquisarTodas {
    background-color: #DA291C; /* Verde McDonald's */
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

button#btnPesquisarTodas:hover {
    background-color: red; /* Verde escuro McDonald's */
}

#listaReceitas {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.formulario-operacoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-operacoes label,
.formulario-operacoes input,
.formulario-operacoes button {
    margin-bottom: 10px;
}
